<div id=user_selector_tag>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#user_selector_tag_selector").change( function(){
				//Login user here. Add an indicator thar the user is changing.
			}
			)
		});
	</script>
	<select id="user_selector_tag_selector" size="1">
		{% for option_user in users%}
			<option value="{{option_user.id}}"  
				{% ifequal selected_user option_user.id  %} 
					selected
				{% endifequal %}>
				{{option_user.username}}
			</option>
		{% endfor %}	
	</select>
</div>