<span id="user_selector_tag" style="position:relative;">
	<script type="text/javascript">
		var user_selector_tag_state_indicator_styles = 'style="width:16px;"';
		$(document).ready(function(){
			$("#user_selector_tag_selector").change( function(){
				//Login user here. With an indicator that the user is changing.
				if ($("#user_selector_tag_selector").val()=="")
					return;
				$.getJSON(
					"/accounts/login/"+$("#user_selector_tag_selector").val()+"/",
					function(data){
						if(data['success'])
							$("#user_selector_tag_state_indicator").html(
									"<img src='/site_media/images/utils/checkmark.png' "+user_selector_tag_state_indicator_styles+" />");
						else
							$("#user_selector_tag_state_indicator").html(
									"<img src='/site_media/images/utils/fail.png' "+user_selector_tag_state_indicator_styles+"/>");
						setTimeout(function(){
							$("#user_selector_tag_state_indicator").fadeOut('slow',function(){$("#user_selector_tag_state_indicator").html('')}).fadeIn('fast');
						},2000);
						$("#user_selector_tag").trigger("succesful_user_change");
					}
				);
				$("#user_selector_tag_state_indicator").html("<img src='/site_media/images/utils/ajax-loader.gif'"+user_selector_tag_state_indicator_styles+"/>");
			
			});
		});
		
		var showAddUser = function(){
			$("#user_selector_new").fadeIn(500);
		}

		var cancelAddUser = function(){
			$("#user_new_input").val("");
			$("#user_selector_new").fadeOut(500);
		}
		
		var addNewUser = function(){
			$.getJSON(
		                "/accounts/user/new/",
		                {
							'newUserName': $("#user_new_input").val()
						},
		                function(data){
		                    $('#user_selector_li').html(data['html']);
							cancelAddUser();
		                }
		                );
		}
		
	</script>
	<select id="user_selector_tag_selector" size="1">
		{% if not selected_user %}
			<option value="" selected>--</option>
		{% endif %}
		{% for option_user in users%}
			<option value="{{option_user.id}}"  
				{% ifequal selected_user option_user.id  %} 
					selected
				{% endifequal %}>
				{{option_user.username}}
			</option>
		{% endfor %}	
	</select>
	<img src='/site_media/images/utils/add.png' style='width:20px;vertical-align:middle;'  onclick="showAddUser();" title='Add a User'/>
	<span id="user_selector_tag_state_indicator" style="vertical-align:sub;"></span>
	<span id="user_selector_new" 
			style="position:absolute; z-index:10;display:none; background-color:#0B3861; padding: 2px 4px 2px 4px; 
			border:solid 1px #1C1C1C; width:240px;top:-3px;left:-5px;">
		<input id="user_new_input" type="text" name="new_language" value="" size="25" />
		<img src='/site_media/images/utils/add.png' style='width:20px;vertical-align:middle;'  onclick="addNewUser();" title='Add'/>
		<img src='/site_media/images/utils/fail.png' style='width:20px; vertical-align:middle;'  onclick="cancelAddUser();" title='Cancel'/>
	</span>
	
</span>