<div id=user_selector_tag>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#user_selector_tag_selector").change( function(){
				//Login user here. With an indicator thar the user is changing.
				$.getJSON(
					"/accounts/login/"+$("#user_selector_tag_selector").val()+"/",
					function(data){
						if(data['success'])
							$("#user_selector_tag_state_indicator").html(
									"<img src='/site_media/images/utils/checkmark.png' />");
						else
							$("#user_selector_tag_state_indicator").html(
									"<img src='/site_media/images/utils/fail.png' />");
					}
				);
			}
			)
		}).ajaxStart( function(){
			$("#user_selector_tag_state_indicator").html("<img src='/site_media/images/utils/ajax-loader.gif'/>");
		}
		);
	</script>
	<select id="user_selector_tag_selector" size="1">
		{% for option_user in users%}
			<option value="{{option_user.id}}"  
				{% ifequal selected_user option_user.id  %} 
					selected
				{% endifequal %}>
				{{option_user.username}}
			</option>
		{% endfor %}	
	</select><div id="user_selector_tag_state_indicator"></div>
</div>