<script type="text/javascript">
var changeRating = function(newStatus, action){
     $.getJSON(
                "/rating/{{song.id}}/"+newStatus+"/"+action+"/",
                {},
                function(data){
                     $("#panel_right_content").html(data['html']);
                }
                );
}
</script>
    <center>
        <div id="ratings_indicator" style="margin-top:10px;">
        	{% ifequal rating 'hate'  %}
        		<img onclick="changeRating('hate','remove');" src='/site_media/images/utils/hate.png' title='Remove Hate' />
        	{% else %}
        		<img onclick="changeRating('hate','switch');" src='/site_media/images/utils/hate_grey.png'title='Hate' />
        	{% endifequal %}
	
        	{% ifequal rating 'meh'  %}
        		<img onclick="changeRating('meh','remove');" src='/site_media/images/utils/meh.png' title='Remove Meh'/>
        	{% else %}
        		<img src='/site_media/images/utils/meh_grey.png' onclick="changeRating('meh','switch');" title='Meh'/>
        	{% endifequal %}
	
        	{% ifequal rating 'known'  %}
        		<img src='/site_media/images/utils/know.png' onclick="changeRating('known','remove');" title='Remove Known'/>
        	{% else %}
        		<img src='/site_media/images/utils/know_grey.png' onclick="changeRating('known','switch');" title='Known'/>
        	{% endifequal %}
	
        	{% ifequal rating 'love'  %}
        		<img src='/site_media/images/utils/love.png' onclick="changeRating('love','remove');" title='Remove Love'/>
        	{% else %}
        		<img src='/site_media/images/utils/love_grey.png' onclick="changeRating('love','switch');" title='Love'/>
        	{% endifequal %}
    	</div>
    </center>
	<table id="song_detail_table">
        <tr>
	        <td class="left_header_cell">Id</td>
	        <td>{{song.id}}</td>
	    </tr>
	    <tr>
	        <td class="left_header_cell">Name</td>
	        <td><input type="text" name="song_name" value="{{song.name}}" size="29" /></td>
	    </tr>
	    <tr>
	        <td class="left_header_cell">Track</td>
	        <td><input type="text" name="song_track" value="{% if song.track %}{{song.track}}{% endif %}" size="2" /></td>
	    </tr>
	    <tr>
	        <td class="left_header_cell">Language</td>
	        <td>
	            <select>
	            {% for language in languages%}
	                <option value="{{language.id}}" {% ifequal language song.language %}selected{% endifequal %}>{{language.full}}</option>
	            {% endfor %}
	            </select>
	        </td>
	    </tr>
	    <tr>
	        <td class="left_header_cell">Filename</td>
	        <td><input type="text" name="song_filename" value="{{song.filename}}" size="29" /></td>
	    </tr>
	    <tr>
	        <td class="left_header_cell">Approved</td>
	        <td>
	            <select>
    	            {% for key, value in approval_choices %}
    	                <option value="{{key}}" {% ifequal key song.approved %}selected{% endifequal %}>{{value}}</option>
    	            {% endfor %}
	            </select>
	        </td>
	    </tr>
	</table>
	<img src='/site_media/images/utils/edit.png' style='width:20px; float:right;'  onclick="editSong();" title='Edit Song'/>