Song detail:<br>
	- {{song.id}}<br>
	- {{song.name}}<br>
	- {{song.track}}<br>
	- {{song.language}}<br>
	-
	{% ifequal rating 'hate'  %}
		<a href="/rating/{{song.id}}/hate/remove/" title='Remove Hate'><img src='/site_media/images/utils/hate.png'></a>
	{% else %}
		<a href="/rating/{{song.id}}/hate/" title='Hate'><img src='/site_media/images/utils/hate_grey.png'/></a>
	{% endifequal %}
	
	{% ifequal rating 'meh'  %}
		<a href="/rating/{{song.id}}/meh/remove/" title='Remove Meh'><img src='/site_media/images/utils/meh.png'/></a>
	{% else %}
		<a href="/rating/{{song.id}}/meh/" title='Meh'><img src='/site_media/images/utils/meh_grey.png'/></a>
	{% endifequal %}
	
	{% ifequal rating 'known'  %}
		<a href="/rating/{{song.id}}/know/remove/" title='Remove Known'><img src='/site_media/images/utils/know.png'/></a>
	{% else %}
		<a href="/rating/{{song.id}}/know/" title='Known'><img src='/site_media/images/utils/know_grey.png'/></a>
	{% endifequal %}
	
	{% ifequal rating 'love'  %}
		<a href="/rating/{{song.id}}/love/remove/" title='Remove Love'><img src='/site_media/images/utils/love.png'/></a>
	{% else %}
		<a href="/rating/{{song.id}}/love/" title='Love'><img src='/site_media/images/utils/love_grey.png'/></a>
	{% endifequal %}