<script type"text/javascript">
//Song list row highlighing
$(
    function()
    {
        $("#song_list_table tr").hover(
            function()
            {
                $(this).addClass("highlight");
            },
            function()
            {
                $(this).removeClass("highlight");
            }
        );
    }
);
</script

<div id="song_list_selector">
<table id="song_list_table">
	<tr class="header">
		<td>Id</td>
		<td>Name</td>
		<td>Artist</td>
		<td>Album</td>
		<td>Approved</td>
		<td>Language</td>
	</tr>
{% for song in songs %}
	<tr>
		<td style="text-align:center;">{{song.id}}</td>
		<td style="overflow-x:hidden; white-space: nowrap;">{{song.name}}</td>
		<td style="overflow-x:hidden; white-space: nowrap;">{{song.artist.name}}</td>
		<td style="text-align:center;">{{song.album.code}}</td>
		<td style="text-align:center;">
			{% ifequal song.approved 2 %}
				<img src='/site_media/images/utils/redflag.png'/>
			{% else %}
				{% ifequal song.approved 1 %}
					<img src='/site_media/images/utils/greenflag.png'/>
				{% else %}
					<img src='/site_media/images/utils/whiteflag.png'/>
				{% endifequal %}	
			{% endifequal %}
		</td>
		<td style="text-align:center;">{{song.language.full}}</td>
	</tr>
{% endfor %}
</table>
</div>