<script type="text/javascript">
var changeRating = function(newStatus, action){
     $.getJSON(
                "/rating/{{song.id}}/"+newStatus+"/"+action+"/",
                {},
                function(data){
                     alert("swa");
                }
                );
}
</script>
Song detail:<br>
	- {{song.id}}<br>
	- {{song.name}}<br>
	- {{song.track}}<br>
	- {{song.language}}<br>
	-
	{% ifequal rating 'hate'  %}
		<img onclick="changeRating('hate','remove');" src='/site_media/images/utils/hate.png' title='Remove Hate' />
	{% else %}
		<img onclick="changeRating('hate','switch');" src='/site_media/images/utils/hate_grey.png'title='Hate' />
	{% endifequal %}
	
	{% ifequal rating 'meh'  %}
		<a onclick="changeRating('meh','remove');" title='Remove Meh'><img src='/site_media/images/utils/meh.png'/></a>
	{% else %}
		<a onclick="changeRating('meh','switch');" title='Meh'><img src='/site_media/images/utils/meh_grey.png'/></a>
	{% endifequal %}
	
	{% ifequal rating 'known'  %}
		<a onclick="changeRating('known','remove');" title='Remove Known'><img src='/site_media/images/utils/know.png'/></a>
	{% else %}
		<a honclick="changeRating('known','switch');" title='Known'><img src='/site_media/images/utils/know_grey.png'/></a>
	{% endifequal %}
	
	{% ifequal rating 'love'  %}
		<a onclick="changeRating('love','remove');" title='Remove Love'><img src='/site_media/images/utils/love.png'/></a>
	{% else %}
		<a onclick="changeRating('love','switch');" title='Love'><img src='/site_media/images/utils/love_grey.png'/></a>
	{% endifequal %}