#song_list_div{
    height:25em;
    overflow-y:scroll;
}

#song_list_table{
    font-size:12px;
    margin-top:0px;
}

#song_list_table td{
    font-size:12px;
    padding:2px 4px;
}

#song_list_table td img{
    width:15px;
}

.header td{
     text-align:center;
     background-color:#6E98C1;
}

#song_list_table tr.highlight{
    background-color:#243444;
}

#song_list_filters{
    margin-bottom : 8px;
}

.filter_span{
    margin: 0px 10px;
}

#rating_filter_checkboxes{
    margin-top:0px;
    margin-bottom:0px;
}

#rating_filter_checkboxes input{
    margin-left:10px;
}

#song_detail_table img{
    width:20px;
    vertical-align:middle;
}

#song_detail_table .left_header_cell{
    width:5em;
    background-color:#6E98C1;
}

#panel_right{
    width:310px;
    float:right;
    margin-top:54px;
    height:25em;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #1A2735;
    padding: 5px  ;
}