{% extends "base.html" %}

{% block script %}
<link href="/site_media/css/songs/search.css" type="text/css" rel="stylesheet" media="screen,projection" />
<script src="/site_media/javascript/songs/search.js" type="text/javascript"></script>
{% endblock %}

{% block title %}
KaariOK - Search
{% endblock %}

{% block content %}
Filters
<div id="song_list_filters">
	<span class="filter_span">
		Approved: 
		<select id="song_list_filters_approved" size="1">
			<option value="3">All</option>
			<option value="1">Yes</option>
			<option value="2">No</option>
			<option value="0">Unknown</option>
		</select>
	</span>
	<span class="filter_span">
		Search:
		<input type="text" id="search_filter_input"/>
	</span>
	<br/>
	<span class="filter_span" id="rating_filter_checkboxes">
			Ratings:
			<input id="rating_filter_checkboxes_unrated" type="checkbox" name="unrated" value="unrated" />Unrated 
			<input id="rating_filter_checkboxes_hate" type="checkbox" name="hate" value="hate"  />Hate 
			<input id="rating_filter_checkboxes_meh" type="checkbox" name="meh" value="meh"  />Meh 
			<input id="rating_filter_checkboxes_known" type="checkbox" name="known" value="known"  />Known 
			<input id="rating_filter_checkboxes_love" type="checkbox" name="love" value="love"  />Love 
	</span>
		
</div>
<div id="song_list_div">
{{song_list_html}}
</div>
{% endblock %}